/* -----------------------------------------------------------------------------------------------------------------------
   BOX
   -------------------------------------------------------------------------------------------------------------------- */

.box-page {
    width: 100%;
}
.box-panel {
    width: auto;
    margin: 0px 0px 15px 0px;
}
.box-title {
    width: auto;
    background-color: #DDDDFF;
    font-size: 30px;
    font-weight: bold;
    margin: 0px 0px 15px 0px;
}
.box-table {
    width: auto;
    box-shadow: 15px 15px #DDDDFF;
    padding: 0px 15px 15px 0px;
    margin: 0px 15px 15px 0px;
}
.box-chart {
    width: auto;
    height: auto;
    margin: 0px 0px 15px 0px;
    display: none;
}
.box-status {
    width: auto;
    margin: 0px;
}

/* -----------------------------------------------------------------------------------------------------------------------
   ELEMENTS
   -------------------------------------------------------------------------------------------------------------------- */

.box-panel button {
    background-color: #AAAAFF;
    border: none;
    margin-bottom: 5px;
}
.box-panel button.best {
    background-color: #AAFFAA;
    border: none;
    margin-bottom: 5px;
}
.box-panel button.worst {
    background-color: #FFAAAA;
    border: none;
    margin-bottom: 5px;
}
.box-table button {
    background-color: #AAAAFF;
    border: none;
}
.box-chart canvas {
    width: 100% !important;
    height: 330px !important;
}
#covid-table {
    width: auto !important;
}
