/* ----------------------------------------------------------------------------------------------------------------------------
   BOX
   ---------------------------------------------------------------------------------------------------------------------------- */

.box-page {
    width: 98%;
}
.box-panel {
    width: 100%;
    padding: 0px 15px 15px 0px;
    margin-bottom: 15px;
}
.box-panel button {
    background-color: #AAAAFF;
    border: none;
    margin-bottom: 5px;
}
.box-title {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    background-color: #DDDDFF;
}
.box-table {
    width: 100%;
    box-shadow: 15px 15px #DDDDFF;
    padding: 0px 15px 15px 0px;
    margin-bottom: 15px;
}
.box-output {
    width: 100%;
}
