/* ----------------------------------------------------------------------------------------------------------------------------
   BOX
   ---------------------------------------------------------------------------------------------------------------------------- */

.box-page {
    width: 98%;
}
.box-table {
    width: 100%;
    box-shadow: 15px 15px #DDDDFF;
    padding: 0px 15px 15px 0px;
    margin-bottom: 60px;
}

/* ----------------------------------------------------------------------------------------------------------------------------
   TABLES
   ---------------------------------------------------------------------------------------------------------------------------- */

.title-table {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    background-color: #DDDDFF;
}
